<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee
                             https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">

    <display-name>E-Boutique</display-name>

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>

    <!--
        Les filtres seront ajoutes par Mohammed (Dev A) quand il fera l'auth.
        Exemple :
        <filter>
            <filter-name>AuthFilter</filter-name>
            <filter-class>com.eboutique.filtre.AuthFilter</filter-class>
        </filter>
        <filter-mapping>
            <filter-name>AuthFilter</filter-name>
            <url-pattern>/panier/*</url-pattern>
            <url-pattern>/commande/*</url-pattern>
            <url-pattern>/admin/*</url-pattern>
        </filter-mapping>
    -->

</web-app>
